<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120234879800-8p3lbruvijcjirmi0mkqm05lp7sac3kd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120234879800-8p3lbruvijcjirmi0mkqm05lp7sac3kd</string>
	<key>API_KEY</key>
	<string>AIzaSyAyjhOhSe0h2_g0nV-I90l9DTI-6TAXGrw</string>
	<key>GCM_SENDER_ID</key>
	<string>120234879800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.amansikarwar.schedease</string>
	<key>PROJECT_ID</key>
	<string>sched-ease</string>
	<key>STORAGE_BUCKET</key>
	<string>sched-ease.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120234879800:ios:dd485422c7cf8f1b00efcd</string>
</dict>
</plist>